@import url("https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Source+Sans+Pro:400,700&display=swap");
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 40px;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #363636;
}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.menu__item {
  list-style-type: none;
  margin-left: 50px;
}

.menu__link {
  text-decoration: none;
  color: #252525;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.menu__link:hover {
  text-decoration: none;
}

.header-top-section {
  height: 90px;
  padding-top: 33px;
}

.custom-container {
  max-width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.navigation {
  font-size: 16px;
  color: #252525;
  padding: 25px 0;
}

#custom-nav {
  color: red;
  padding: 0;
}

.hero {
  width: 100%;
  height: calc(100vh - 90px);
  background: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.hero__header {
  color: white;
  text-shadow: 2px 2px #333;
  font-size: 80px;
  margin-bottom: 50px;
}

.hero__button {
  color: #1e1e1e;
}

.hero__button:hover {
  color: #1e1e1e;
}

.hero-height {
  height: calc(100vh - 90px);
}

.button {
  font-size: 14px;
  padding: 11px 28px;
  color: #1e1e1e;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 3px #0030ff;
          box-shadow: 3px 3px #0030ff;
  display: inline-block;
  width: 129px;
  height: 42px;
}

.button:hover {
  text-decoration: none;
}

.about-us {
  padding-top: 150px;
}

.about-us__description {
  padding-top: 69px;
  margin-left: 40px;
  width: 500px;
  float: left;
}

.about-us__image-container {
  float: left;
}

.about-us__button {
  background-color: #0030ff;
  color: #ffffff;
  -webkit-box-shadow: 3px 3px #01197e;
          box-shadow: 3px 3px #01197e;
  margin-top: 54px;
}

.about-us__button:hover {
  color: #ffffff;
}

.about-us__image {
  width: 100%;
  -webkit-box-shadow: 10px 10px #b3278d;
          box-shadow: 10px 10px #b3278d;
}

.about-us__text {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
}

.portfolio {
  margin-top: 150px;
}

.portfolio__text {
  text-align: center;
  padding: 0 200px;
}

.portfolio__header {
  text-align: center;
}

.line {
  height: 167px;
  width: 1px;
  border-left: 1px solid #393939;
}

.logo__item {
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.logo__description {
  color: #ffffff;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.98px;
  text-transform: uppercase;
}

.copyright {
  text-align: center;
}

.copyright__text {
  color: #818181;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
}

.contacts p {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.contacts__address {
  width: 200px;
}

.contacts__address::before {
  display: block;
  content: '';
  background: url("../img/icons/adress-icon.png") no-repeat;
  position: absolute;
  height: 25px;
  width: 25px;
  left: -20px;
}

.contacts__phone::before {
  display: block;
  content: '';
  left: -20px;
  background: url("../img/icons/phone-icon.png") no-repeat;
  position: absolute;
  height: 25px;
  width: 25px;
}

.footer {
  background-color: #000415;
  margin-top: 150px;
}

.footer__wrapper {
  height: 330px;
}

.footer__line {
  position: relative;
  left: 50%;
}

.footer__logo {
  margin-left: 40%;
}

.footer__logo-item {
  color: #31d7ce;
}
/*# sourceMappingURL=style.css.map */